q:lang(en) { quotes: '"' '"'; }
q:lang(pl) { quotes: '„' '”'; }

blockquote#en::before {
   content: "\0022";
}

blockquote#en::after {
    content: "\0022";
}

blockquote#pl::before {
    content: "\201E";
}

blockquote#pl::after {
    content: "\201D";
}